* {box-sizing: border-box;}

#bgvid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.img-zoom-container {
  position: relative;
 
}

.bgx
{
  
  padding-right: 15px;
  background-image: url("../Resources/Cooler.png");
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
} 


.img-zoom-lens {
  
  position: absolute;
  border: 1px solid #d4d4d4;
  margin: 0 auto;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 200px;
  height: 200px;  
}

.map {
  position: relative;
}

#btnSubmit {

  margin-top :1%;
  width: 200px;
}


