/* GLOBAL STYLES
-------------------------------------------------- */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  height: 100%;
}

.FoL
{
  color: darkred;
  text-shadow: 0 0 7px darkred;
}

.FoL:hover
{
  color: darkred;
  text-shadow: 0 0 7px black;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  margin-top: -50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-item > image
{
  background-attachment: fixed;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing h2 {
  font-weight: 400;
}

.bg1
{
    background-image: url("../Resources/MB.png");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2
{
    background-image: url("../Resources/Cooler.png");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3
{
    background-image: url("../Resources/RAMs.png");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Featurettes
------------------------- */

.placement
{
  margin-top: -64px;
}

.row
{
  height: 48rem;
  width: 100.8%;
}

.featurettedivider
{
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
  border-top: 3px solid darkred;
  border-radius: 5px;

}

/* Thin out the marketing headings */
.featurette-heading
{
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.bg-custom
{
  background-color: darkred;
}

.navbar 
{        
  transition:padding 0.2s ease;
}
  
  
.affix 
{
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important; 
  transition:padding 0.2s linear;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media only screen and (max-device-width: 1366px) {
  .bg1 {
    background-attachment: scroll;
  }
}