/* GLOBAL STYLES
-------------------------------------------------- */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
  height: 100%;
}

.FoL
{
  color: darkred;
  text-shadow: 0 0 7px darkred;
}

.FoL:hover
{
  color: darkred;
  text-shadow: 0 0 7px black;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  margin-top: -50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-item > image
{
  background-attachment: fixed;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing h2 {
  font-weight: 400;
}

/* This became useless to be refined later */
 .bgx
{
    margin-top: -50px;
    background-image: url("../Resources/Asus.png");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.bg2
{
    background-image: url("../Resources/Cooler.png");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3
{
    background-image: url("../Resources/RAMs.png");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Featurettes
------------------------- */

.placement
{
  margin-top: -64px;
}

.row
{
  height: 46rem;
  width: 100.8%;
}

.featurettedivider
{
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
  border-top: 3px solid darkred;
  border-radius: 5px;

}

/* Thin out the marketing headings */
.featurette-heading
{
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.bg-custom
{
  background-color: darkred;
}

.navbar 
{        
  transition:padding 0.2s ease;
}
  
  
.affix 
{
  padding-top: 0.2em !important;
  padding-bottom: 0.2em !important; 
  transition:padding 0.2s linear;
}

.service-content {
  margin-top: -64px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15vh;
  background-image: url("../Resources/MB.png");
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
}

.service-content .left-text h4 {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

h4, .h4 {
  font-size: 18px;
}

.service-content .left-text .line-dec {
  width: 45px;
  height: 3px;
  background-color: red;
  margin: 20px 0px 20px 0px;
}

.service-content .left-text p {
  color: #fff;
}


.service-content .left-text ul {
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.service-content .left-text ul li {
  margin: 15px 0px;
  font-weight: 400;
  color: #fff;
}

.service-content .left-text .primary-button {
  margin: 30px 0px;

}

.primary-button >a 
{
  color :darkred;
  text-shadow: 0 0 7px darkred;
}

.primary-button > a:hover
{
  text-shadow: 0 0 7px black;
}

.service-content .service-item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

/* Cool Red Lines */
.service-content .service-item .line-dec {
  width: 45px;
  height: 3px;
  background-color: red;
  margin: 20px auto 15px auto;
}

/* pic at the end*/
.map {
  margin-top: 10%;
  width: 100%;
  
}

.border {
  padding: 20px 20px;
  width : 840px;
  background-color: rgba(0, 0, 0, 0.5);
}




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media only screen and (max-device-width: 1366px) {
  .bg1 {
    background-attachment: scroll;
  }
}

@media (max-width: 767px){
  
  .baner-content {
    padding-top: 30vh;
  }

  .baner-content h1 {
    font-size: 64px;
  }

  .baner-content em {
  }

  .baner-content span {
    font-size: 24px;
  }

  .baner-content .primary-button {
    margin-top: 15px;
  }

  .service-content {
    padding-top: 5vh;
    text-align: center;
  }

  .service-content .left-text .line-dec {
    width: 45px;
    height: 3px;
    background-color: red;
    margin: 20px auto 20px auto;
  }

  .service-content .left-text ul {
    text-align: left;
  }

  .service-content .service-item {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
  }

}